.toolbar {
    z-index: 2;
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
}

.toolbar button {
    box-sizing: unset;
    padding: 8px 16px;
    margin: 0 4px;
    font-size: 12px;
    border-radius: 4px;
    border: solid 1px #D3D4D6;
    color: #1c1c1c;
    background: #F8F9FB;
    outline: none;
    cursor: pointer;
    width: 60px;
    transition: background-color 0.2s ease-in-out;
}

.toolbar button:hover {
    border-color: #636464;
}